
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        <a href="/Home/Index"> Index</a>
        <a href="/Home/Getstd"> Student</a>
        <a href="/Home/GetTotal"> Total</a>
        <a href="/Home/Getdatetime"> GetDatetime</a>
    </div>
</body>
</html>
